@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    /* color: #FFFF; */
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

nav{
    background-color: #1b285d;
    display: flex;
    justify-content: space-between;
    padding: 22px 170px 15px;
}

.logo{
    color: #FFFF;
    font-size: 30px;
    font-weight: 700;
}

.nav-menu{
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 55px;
    display: flex;
}

.nav-menu li a{
    position: relative;
    font-weight: 500;
    font-size: 18px;
    color: #FFFF;
    padding: 10px 25px;
}

.nav-menu li a:hover{
    background-color: #000957;
    border-radius: 15px;
}

#home{
    /* margin: -1px; */
    background-image: url(img/14308682_5446991.jpg);
    padding: 97px 210px 20px 170px;
    display: flex;
    justify-content: space-between;
    width: auto;
}

.home-txt{
    margin: 100px;
}

#txt1, #txt2{
    color: #FFFF;
    font-size: 19px;
    font-weight: 500px;
}

#nama{
    color: #FFFF;
    font-weight: 700;
    font-size: 48px;
}


#get-started{
    width: 150px;
    height: 40px;
    background: #F7471E;
    border-radius: 15px;
    font-weight: 700;
    font-size: 15px;
    color: #FFFF;
    cursor: pointer;
    border: none;
    margin: 10px;
}

#get-started:hover{
    background:#9c1f03 ;
}

/* .img{
    position: absolute; */
    /* width: 356px;
    height: 341px; */
    /* display: flex;
} */

#footer{
    background-color: #000957;
    width: auto;
    justify-content: center;
    display: flex;
    padding: 15px;
    /* height: 200px; */
}

.item-footer{
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 55px;
    display: flex;
}

.item-footer li a{
    color: #FFFF;
    position: relative;
    font-weight: 500;
    font-size: 18px;
    color: #FFFF;
}

#about{
    padding: 97px 210px 20px 170px;
    display: flex;
    justify-content: space-between;
    width: auto;
}

.img-about img{
    border-radius: 20px;
}

.about-text{
    padding: 50px;
    font-weight: 400;
    font-size: 25px;
}

#Portfolio{
    padding: 50px;
    margin: 100px ;
    background-color:#35399f ;
    width: auto;
    justify-content: space-between;
    display: flex;
    border-radius: 30px;
    box-shadow: 4px 11px 15px rgba(0, 0, 0, 0.11);
}

#head-portfolio{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
}

.portfolio-text{
    color: #FFFF;
    margin: 100px 0px 0px 0px;
    font-weight: 300;
    font-size: 20px;
}

.img-portfolio{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 25px;
}

#articel p{
    display: flex;
    justify-content: center;
}
.articel-cont{
    display: flex;
    justify-content: space-around;
}
.box{
    background-color: #35399f;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    color: #FFFF;
}